<h1>Alpha Blog complete listing</h1>
<p>
   <%= link_to "Create new article", new_article_path %>
</p>
<table>
  <tr>
     <th>Title</th> 
     <th>Description</th>
  </tr>                               
  <% @articles.each do |blogitem| %> 
   <tr>
       <td><%= blogitem.title %></td>   
       <td><%= blogitem.description %></td>
       <td><%= link_to 'Edit', edit_article_path(blogitem) %></td>
       <td><%= link_to 'Show', article_path(blogitem) %></td>
       <td><%= link_to 'Delete', article_path(blogitem), method: :delete, data: {confirm: "Are you sure?"} %></td>
   </tr>
                             
  <% end %>                              
</table>